@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	/*background-image:url(../img/background.jpg);
	background-position:top left;
	background-repeat:no-repeat;*/
	margin: 0;
	padding: 0;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #337AB7;
    background-color:transparent;
}
	
}
.chart {
  margin-left: 42px;
}

.chart rect {
	fill: steelblue;
	stroke: white;
}

/* Text color classes */
.white {
  color: #ffffff !important;
}
.grey {
  color: #eeeeee !important;
}
.black {
  color: #555555 !important;
}
.red {
  color: #f75353 !important;
}
.green {
  color: #51d466 !important;
}
.lblue {
  color: #32c8de !important;
}
.blue {
  color: #609cec !important;
}
.orange {
  color: #f78153 !important;
}
.yellow {
  color: #fcd419 !important;
}
.purple {
  color: #cb79e6 !important;
}
.rose {
  color: #ff61e7 !important;
}
.brown {
  color: #d08166 !important;
}
/* Background color classes */
.bg-white {
  background-color: #ffffff !important;
}
.bg-grey {
  background-color: #eeeeee !important;
}
.bg-black {
  background-color: #555555 !important;
}
.bg-red {
  background-color: #f75353 !important;
}
.bg-green {
  background-color: #51d466 !important;
}
.bg-lblue {
  background-color: #32c8de !important;
}
.bg-blue {
  background-color: #609cec !important;
}
.bg-orange {
  background-color: #f78153 !important;
}
.bg-yellow {
  background-color: #fcd419 !important;
}
.bg-purple {
  background-color: #cb79e6 !important;
}
.bg-rose {
  background-color: #ff61e7 !important;
}
.bg-brown {
  background-color: #d08166 !important;
}
/* Border color classes */
.br-white {
  border: 1px solid #ffffff !important;
}
.br-grey {
  border: 1px solid #eeeeee;
}
.br-black {
  border: 1px solid #555555;
}
.br-red {
  border: 1px solid #f75353;
}
.br-green {
  border: 1px solid #51d466;
}
.br-lblue {
  border: 1px solid #32c8de;
}
.br-blue {
  border: 1px solid #609cec;
}
.br-orange {
  border: 1px solid #f78153;
}
.br-yellow {
  border: 1px solid #fcd419;
}
.br-purple {
  border: 1px solid #cb79e6;
}
.br-rose {
  border: 1px solid #ff61e7;
}
.br-brown {
  border: 1px solid #d08166;
}


.hvr-bounce-to-right:before{
	background:#00B6E7;
}

.node {
	fill: #00B6E7;
	stroke: #FF0000;
}

.ready1 {
	fill:#259b24;
	stroke:#259b24;
}

.ready0 {
	fill:#dd191d;
	stroke:#dd191d;
}

.qlink {
	stroke-width: 5px;
}

.link {
	stroke: #78909c;
	stroke-width: 5px;
}

.nodetext{
	font-size: 10px;
	stroke:#ffffff;
}

.topbar{
	background-color: #263238 !important;
	padding: 10px 0;
}

.height100{
	height: 100%;
}

.sidebar{
	height: 100%;
	padding-right: 20px;
	/*background-color:#00B6E7;	*/
	z-index: 1000;	
}

.nopadding{
	padding: 0;
}

.brandbox{
	padding: 25px;
	font-size: 32px;	
	text-transform:uppercase;
}




.menubox{
	color: #ffffff;
	cursor: pointer;
}

.iconbox{
	float: left;
	padding: 15px 5px;
	font-size: 12px;
	line-height: 14px;
	
}

.iconbox > i{
	font-size: 18px;	
	color:#0357A0;
}

.menuname{
	width:170px;
	height: 100%;
	float: left;
	padding: 16px 10px;
	font-family (stack): "MyriadPro",Verdana,sans-serif;
	font-size: 13px;
	color:#0357A0;
}
.menubox:hover,
.active {
	background: transparent;	
}
.submenu{
	width: 100%;
	padding: 20px 10px;
	/*margin-top:20px;*/
	background-color: transparent;		
	z-index: 999;
}

.submenuitem{
	color: #0357A0;
	float: left;
	padding: 0 20px;
	cursor: pointer;
}
.submenuitem {
	font: bolder 100%/1.923 "MyriadPro",Verdana,sans-serif;	
	font-size: 13px;
	font-weight: 900;
}
.subiconbox{
	float: left;
	line-height: 15px;
	margin-top: 4px;
	margin-right: 10px;
}

.active{
	color: #00b6e7;

}

.active > .iconbox{
	background-color: #e6f8fd;
}

.cards{
	/*box-shadow:0px 0px 1px rgba(0,0,0,0.2), 0px 0px 10px rgba(0,0,0,0.1);*/
	background-color: #fff;	
	color: white;
	border: 1px solid #b8d4e0;
	box-shadow: 0px 0px 20px #C0E1F4;
}

.roundcard{
	background-color: transparent !important;
	border-radius: 0;
	color: #000;	
	margin:5px 10px;
	
}



.hscrollbox{
	width: 100%;
	/*box-shadow:0px 0px 1px rgba(0,0,0,0.2), 0px 0px 10px rgba(0,0,0,0.1);
	border-radius: 5px;*/
	margin: 0 0 10px 0;
	position: relative;
	border: 1px solid #b8d4e0;
}

.sleft {
	position: absolute;
	left:0;
	top:44%;
}

.sright {
	position: absolute;
	right:0;
	top:44%;
}

.sleft,.sright{
	background-color: gray;
	height: 36px;
	cursor:pointer;
	z-index:1000;
}

.sleft i,.sright i{
	color:#fff;
	font-size: 36px;
}




.qsleft {
	position: absolute;
	left:0;
	top:44%;
}

.qsright {
	position: absolute;
	right:0;
	top:44%;
}

.qsleft,.qsright{
	background-color: gray;
	height: 36px;
	cursor:pointer;
	z-index:1000;
}

.qsleft i,.qsright i{
	color:#fff;
	font-size: 36px;
}

.agentslist{
	overflow:hidden;
	white-space: nowrap;
	padding:20px 35px;
	box-shadow: 0px 0px 20px #C0E1F4;
}
.a-active {
	border:1px solid grey;
}.agentinfo{
	width: 85%;
	text-align: center;	
	cursor: pointer;
	float:right;
}
.agentinfo > p{
	margin: 0;
}
.agentstatus{
	margin: 0px;
    float: left;
    display: block;    
    height: 15px;
}
.smalltext{
	font-size: 16px;
}
.statusbox{
	border-radius: 50%;
	padding: 5px;		
	line-height: 15px;
}

.butbox{
	float: left;
	width: 53px;
    line-height: 18px;
    text-align: center;
}
.ext {
	width:20%; 
	float:left; 
	margin-right:5%;
}
.ext_2 {
	width:75%;
	float:right;
	overflow:hidden;
	text-overflow: ellipsis;
}
.ext,
.ext_2 {	
	font-size:14px; 
	font-weight:bold;
	padding-top:6px;
}
.butgroup{
	padding: 10px;
	background-color: #dae4e8;	
}
.emp{
	width: 100%;	
	font-weight: 700;
	font-size:14px;
	color: #008D25;
	padding: 5px 0;
}
.fancybar{
	display:none;
	width:100%;
	height:5px;
	background-color: #ddd;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}
.agentstatusbox,.agentgraphbox{
	width:100%;
	height:330px;
	z-index:1000;
}
.agentstatusbox{
	width:100%;
	position: relative;
}
.agentqueue,.agentinfobox,.bargraph{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;		
}
.agentinfobox{
	z-index: 100;
}
.left-zero {
	padding-left:0px;
}
.right-zero {
	padding-right:0px;
}
.agentingraph {
	width: 150px;
	height: 50px;
	box-shadow:0px 0px 1px rgba(0,0,0,0.2), 0px 0px 10px rgba(0,0,0,0.1);
	background-color: #ffffff;
	border-radius: 5px;
	border:1px solid #259b24;
	margin: 120px auto;
}
.aext,.aname{
	color:gray;
	font-size: 12px;
	width: 100%;
	font-weight: 500;
	display: block;
}
.aext{
	margin: 0 0 0 50px;
	padding: 5px;
}
.aname{
	margin: 0 0 0 7px;	
}
.statusonline, 
.statusbusy, 
.statusinactive {	
	padding:15px 5px;
	position: relative;	
	text-decoration: none;
	height:60px;
	border-radius: 30px;
	box-shadow: 0px 3px 6px -3px #333
	text-shadow:#fff 0 0 10px;
	z-index:1;	
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}
.statusonline:after,
.statusbusy:after,
.statusinactive:after{
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	width: calc(100% - 2px);
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.2));
	height: 50%;	
	z-index:-100;
}
.statusonline {
	background: green; /*for compatibility with older browsers*/
	background-image: linear-gradient(green,#42ff2d);
}
.statusbusy {	
	background: #ff0000; 
	background-image: linear-gradient(#ff0000,#ff452c);
}
.statusinactive {
	background: #f7d503; 
	background-image: linear-gradient(#DCC902,#F1D62A);
}
/*
.statusboxbusy{
	background: rgba(241, 111, 92, 1) !important;
    background: -moz-radial-gradient(center, ellipse cover, rgba(241, 111, 92, 1) 0%, rgba(255, 21, 0, 1) 100%) !important;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241, 111, 92, 1)), color-stop(100%, rgba(255, 21, 0, 1)))!important;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(241, 111, 92, 1) 0%, rgba(255, 21, 0, 1) 100%)!important;
    background: -o-radial-gradient(center, ellipse cover, rgba(241, 111, 92, 1) 0%, rgba(255, 21, 0, 1) 100%)!important;
    background: -ms-radial-gradient(center, ellipse cover, rgba(241, 111, 92, 1) 0%, rgba(255, 21, 0, 1) 100%)!important;
    background: radial-gradient(ellipse at center, rgba(241, 111, 92, 1) 0%, rgba(255, 21, 0, 1) 100%)!important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#ff1500', GradientType=1)!important;
}
.statusboxinactive{
	
}*/
.bargraph{
	width:100%;
	height:310px;
}
.top_row, bottom_row,.second_row, .third_row{
	width:100%;
	margin:0 !important;
	padding:0 !important;
	display:block;
	clear:both;
}
.top_row {
	font-weight:bold;
	font-size:14px;
	color:white !important;
}
.material-icons {
	font-size:18px;
	
}
.top_row span, second_row span, .third_row span {
	padding:0;
	margin:0;
	display:inline-block;
	float:left;
	padding:2px;
	
}
.second_row {
	font-size:10px;	
	font-weight:bold;
	letter-spacing:0.5px;	
}
.third_row span {
	width:50%;
	font-size:12px;
	font-weight:900;
	padding: 0 10px;
}
.third_row .material-icons {
	font-size:12px;
	color:white;
}
.bottom_row span {
	width:50%;
	padding:0;
	margin:0;
	display:block;
	float:left;
	padding:2px 10px;
	font-size:14px;
}
.bottom_row span a{
	text-decoration:none;
	color:blue !important;
	font-size:10px;
}
	
.queueslist{
		overflow:hidden;
		white-space: nowrap;
		padding:20px 35px;
	}
.agentbox {
	display:inline-block;
	width:225px;
	border: 1px solid #01ADEF;
	border-radius:40px;	
	/*padding:2px 10px;*/
	margin: 10px; 	
	position: relative;
	margin:1px solid grey;
	/*background:#E6F1F7;*/	
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 43%, rgba(201,231,242,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(43%, rgba(246,246,246,1)), color-stop(100%, rgba(201,231,242,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 43%, rgba(201,231,242,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 43%, rgba(201,231,242,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 43%, rgba(201,231,242,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 43%, rgba(201,231,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9e7f2', GradientType=1 );
}
.queuebox {
	display:inline-block;
	width:225px;
	border: 1px solid #01ADEF;
	border-radius:40px;	
	/*padding:2px 10px;*/
	margin: 10px; 	
	position: relative;
	margin:1px solid grey;
	/*background:#E6F1F7;*/	
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 43%, rgba(201,231,242,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(43%, rgba(246,246,246,1)), color-stop(100%, rgba(201,231,242,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 43%, rgba(201,231,242,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 43%, rgba(201,231,242,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 43%, rgba(201,231,242,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 43%, rgba(201,231,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9e7f2', GradientType=1 );
}
/*--------------------Collapse menu----------------------*/
/* Toggle Styles */
.hvr-bounce-to-right {
	width:149px;
	padding:0 0 0 10px;	
	margin:0;
	vertical-align:bottom !important;
}
.menu-left-span {
	width:51px;
	border:0;margin:0;
	background:#00B6E7;
	color:white;
	padding:0;
	text-align:center;
}
.navbar,
.navbar-toggle {
	border:none !important;	
}
.navbar-brand {
	margin-left:15px;
}
.navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: none;
    border-bottom: 1px solid #23C1E8;
	background:#C0E1F4;
}
.navbar-default .navbar-toggle {
    border-color: white !important; 
}
.nav-stacked > li {
	border-bottom:1px solid #0092B9;
}
.nav-stacked > li + li {
	margin-top: 0px !important;
}

 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}

#sidebar-wrapper {
    z-index: 3000;
    position: absolute; 
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	background:#C0E1F4;
	
	
}
#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;    
}

.sidebar-nav li {
    /*text-indent: 11px;*/
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #23527C;
	font-size:12px;
	font-family:"MyriadPro",Verdana,sans-serif;
	font-weight: 900;
}

.sidebar-nav li a:hover {
    text-decoration: none;    
    background: rgba(255,255,255,0.2); 
	/*border:1px solid #01ADEF;   */
}
.sidebar-nav li a:active {    
	/*border:1px solid #01ADEF;   */
}
.nav-pills > li > a {
    border-radius: 0 !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 200px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 200px;
    }


    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -150px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;

    }
}
@media (max-width:1200px) {
	.left-zero {
	padding-right:0px;
}
.right-zero {
	padding-left:0px;
	margin-top:10px;
}
}
